/* Estilo da pagina de cadastro*/
/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4E342E, #8D6E63);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilização do formulário */
form {
    background-color: white;
    padding: 40px 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background-color: #8D6E63;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #4E342E;
}

/* Link de navegação */
a {
    margin-top: 10px;
    text-align: center;
    display: block;
    color: #8D6E63;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
